.dual {
    background-color: blue;
    color: white;
}
.dual80 {
    background-color: blue;
    color: white;
    opacity: 0.8;
}
.dual60 {
    background-color: blue;
    color: white;
    opacity: 0.6;
}

.verde{color: rgb(33, 122, 33);}

.fonverde{background-color: rgb(7, 77, 7);}

.fondo{
    background-size: cover;
    background-image:url(/img/cabezas-monstruos-verdes-tentaculos-sobre-fondo-rojo_771703-6759.jpg);
}

.portada {
    background-size:cover;
    background-image:url(/img/fondoportada.webp);

}

.color2{
    background-color: purple; 
}

.color3 {
    background-color:darkkhaki;
}

body {
    background: linear-gradient(to right, #ffcccb, #ffb6c1);
  }

 .portada2 {
    background-size: cover;
    background-image:url(/img/Ithaqua-de-August-Derleth.webp);
 }